$beige: #fcf4e6;
$azul-grisaceo: #5a6072;
$naranja: #fc7032;
$verde-apple: #b8d368;
$azul-francia: #003a70;
$azul-marino: #14213d;
$gris-footer: #e8e9ed;

$padding-desktop: 100px;

$neue: var(--font-neue);
$addigton: var(--font-addigton);
$julieta-n: var(--juli-font);

$xl: 1540px; // Extra-large
$lg: 1450px; // Large
$md: 900px; // Medium
$sm: 600px; // Small
$xs: 0px; // Extra-small
